

#Table {
  margin:auto;
  width: 80vw; 
  height:fit-content;
  border-collapse: collapse;
  background-color: black;
  color:gold;
  
}

#Table th, #Table td {
  border: 2px solid #ddd; 
  padding: 8px; 
  text-align: center; 
  width: 26.67vw;
  /* height: 60px; */
}

#Table th {
  width:max-content;
  background-color: black; 
  font-weight: bold; 
  justify-content: space-between;
}

#TableContainer {
  height:600px;
  overflow: scroll;
  display:flex;
  margin:auto;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;

}

#TableTitle {
  color:gold;
  text-align: center;
}

::-webkit-scrollbar {
  width: 0px;
}


#ChangeUnitsContainer {
  display: flex;
  align-items: flex-end;
}

#Button {
  border-radius: 10%;
  background-color: none;
}

#removeButtonContainer {
  background-color: black;
}

/* Style Buttons to see more information */
#SelectDataButton {
  width: 100%;
  height: 100%;
  color: gold;
  border: none;
  cursor: pointer;
  background: none;
}

#SelectDataButton:hover {
  background-color: rgba(255, 215, 0, 0.1);
}

#SelectDataButton:active {
  transform: scale(0.9);
}


#SettingsDropdown {
  --bs-btn-color: #fff;
  --bs-btn-bg: none;
  --bs-btn-border-color: none;
  --bs-btn-hover-color:gold;
  --bs-btn-hover-bg: #3d4541;
  --bs-btn-hover-border-color: #146c43;
  --bs-btn-focus-shadow-rgb: 60,153,110;
  --bs-btn-active-color: gold;
  --bs-btn-active-bg: #3d4541;
  --bs-btn-active-border-color: gold;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: none;
  --bs-btn-disabled-border-color: none;
}

#removeButton{
  background-color: white;
  color: red;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid red;
  transition: all 0.1s ease-in-out;
}
#removeButton:active {
  transform: scale(0.8);
  background-color: black;
  color: gold;
}

#PageButtonsContainer{
  display: flex;
  justify-content: space-between !important;
  padding: 10px;
}

#PageButton{
  width:18vw !important;
  transition: all 0.1s ease-in-out;
  border-radius: 10%;
  background-color: gold;
  color:black;
  font-weight: bold;
  
}
#PageButton:active {
  transform: scale(0.95);
}